var Marty = require('marty');
var {{constantsName}} = require('constants/{{constantsName}}');

var {{modelName}}ActionCreators = Marty.createActionCreators({
  create: function({{paramModelName}}) {
    this.dispatch({{modelName}}Constants.{{addModelConstant}}, {{paramModelName}});
  },

  receive: function({{pluralParamModelName}}) {
    this.dispatch({{constantsName}}.{{receiveModelConstant}}, {{pluralParamModelName}});
  },

  update: function(id, {{paramModelName}}) {
    this.dispatch({{constantsName}}.{{updateModelConstant}}, id, {{paramModelName}});
  },

  destroy: function(id) {
    this.dispatch({{constantsName}}.{{removeModelConstant}}, id);
  }
});

module.exports = {{modelName}}ActionCreators;
