var Marty = require('marty');
var {{constantsName}} = require('constants/{{constantsName}}');

var {{actionCreatorsName}} = Marty.createActionCreators({
  create: function({{paramModelName}}) {
    this.dispatch({{constantsName}}.{{createModelConstant}}, {{paramModelName}});
  },

  receive: function({{pluralParamModelName}}) {
    this.dispatch({{constantsName}}.{{receiveModelConstant}}, {{pluralParamModelName}});
  },

  update: function(id, {{paramModelName}}) {
    this.dispatch({{constantsName}}.{{updateModelConstant}}, id, {{paramModelName}});
  },

  destroy: function(id) {
    this.dispatch({{constantsName}}.{{destroyModelConstant}}, id);
  }
});

module.exports = {{actionCreatorsName}};
