var React = require('react');
var {{storeName}} = require('../stores/{{storeName}}');
var {{stateName}} = require('../mixins/{{stateName}}');

var {{modelName}} = React.createClass({
  mixins: [{{stateName}}],

  getDefaultProps: function() {
    return {

    };
  },

  /*
  * This function is not necessary if using the state mixin. If you are not, you
  * should implement it.
  */
  // getInitialState: function() {
  //
  // },

  render: function() {
    return (
      <div />
    );
  },

  componentWillMount: function() {

  },

  componentDidMount: function() {

  },

  componentWillReceiveProps: function(nextProps) {

  },

  componentShouldUpdate: function(nextProps, nextState) {

  },

  componentWillUpdate: function(nextProps, nextState) {

  },

  componentDidUpdate: function(prevProps, prevState) {

  },

  componentWillUnmount: function() {

  }
});

module.exports = {{modelName}};
