var Marty = require('marty');

var {{modelName}}Constants = Marty.createConstants([
  '{{receiveModelConstant}}',
  '{{addModelConstant}}',
  '{{updateModelConstant}}',
  '{{removeModelConstant}}'
]);

module.exports = {{modelName}}Constants;
