var Marty = require('marty');

var {{constantsName}} = Marty.createConstants([
  '{{createModelConstant}}',
  '{{receiveModelConstant}}',
  '{{updateModelConstant}}',
  '{{destroyModelConstant}}'
]);

module.exports = {{constantsName}};
