var Marty = require('marty');
var {{actionCreatorsName}} = require('actions/{{actionCreatorsName}}');

var {{modelName}}HttpAPI = Marty.createStateSource({
  rootUrl: '{{sourceEndpoint}}',

  create: function({{paramModelName}}) {
    this.post({
      url: this.rootUrl,
      body: {{paramModelName}}
    }).then(function(response) {
      {{actionCreatorsName}}.create(response.body);
    }, function(errorResponse) {
      if(errorResponse.hasBody) {
        errorResponse.json().then(function() {}, function() {});
      }
    });
  },

  getAll: function() {
    this.get(
      this.rootUrl
    ).then(function(response) {
      {{actionCreatorsName}}.receive(response.body);
    }, function(errorResponse) {
      if(errorResponse.hasBody) {
        errorResponse.json().then(function() {}, function() {});
      }
    });
  },

  getById: function(id) {
    var url = this.rootUrl + id;
    this.get(
      url
    ).then(function(response) {
      {{actionCreatorsName}}.receive([response.body]);
    }, function(errorResponse) {
      if(errorResponse.hasBody) {
        errorResponse.json().then(function() {}, function() {});
      }
    });
  },

  update: function(id, {{paramModelName}}) {
    var url = this.rootUrl + id;
    this.put({
      url: url,
      body: {{paramModelName}}
    }).then(function(response) {
      {{actionCreatorsName}}.update(response.body);
    }, function(errorResponse) {
      if(errorResponse.hasBody) {
        errorResponse.json().then(function() {}, function() {});
      }
    });

  },

  destroy: function(id) {
    var url = this.rootUrl + id
    this.delete(
      url
    ).then(function(response) {
      {{actionCreatorsName}}.destroy(id);
    }, function(errorResponse) {
      if(errorResponse.hasBody) {
        errorResponse.json().then(function() {}, function() {});
      }
    });
  },
});

module.exports = {{modelName}}HttpAPI;
