var Marty = require('marty');
var {{storeName}} = require('stores/{{storeName}}');

var {{stateName}} = Marty.createStateMixin({
  listenTo: [{{storeName}}],

  getState: function() {
    return {
      {{pluralParamModelName}}: {{storeName}}.getAll();
    }
  }
});

module.exports = {{stateName}};
