var Marty = require('marty');
var {{constantsName}} = require('constants/{{constantsName}}');

var {{storeName}} = Marty.createStore({
  displayName: '{{storeName}}',

  handlers: {
    create: {{constantsName}}.{{createModelConstant}},
    receive: {{constantsName}}.{{receiveModelConstant}},
    update: {{constantsName}}.{{updateModelConstant}},
    destroy: {{constantsName}}.{{destroyModelConstant}}
  },

  getInitialState: function() {
    return {};
  },

  create: function({{paramModelName}}) {
    this.state[{{paramModelName}}.id] = {{paramModelName}};
    this.hasChanged();
  },

  receive: function({{pluralParamModelName}}) {
    var store = this;

    {{pluralParamModelName}}.forEach(function({{paramModelName}}) {
      store.state[{{paramModelName}}.id] = {{paramModelName}};
    });

    this.hasChanged();
  },

  update: function(id, {{paramModelName}}) {
    this.state[id] = {{paramModelName}};
    this.hasChanged();
  },

  destroy: function(id) {
    delete this.state[id];
    this.hasChanged();
  },

  getAll: function() {
    varr store = this;
    return Object.keys(this.state).map(function(key) {
      return store.state[key];
    });
  },

  get: function(id) {
    return this.state[id];
  }
});

module.exports = {{storeName}};
