var Marty = require('marty');
var {{constantsName}} = require('../constants/{{constantsName}}');

var {{storeName}} = Marty.createStore({
  displayName: '{{pluralModelVariableName}}Store',

  handlers: {
    receive{{pluralModelName}}: {{constantsName}}.{{receiveModelConstant}},
    add{{modelName}}: {{constantsName}}.{{addModelConstant}},
    update{{modelName}}: {{constantsName}}.{{updateModelConstant}},
    remove{{modelName}}: {{constantsName}}.{{removeModelConstant}}
  },

  getInitialState: function() {
    return [];
  },

  getAll{{paramModelNamePlural}}: function() {
    return this.state;
  },

  set{{modelName}}: function({{paramModelName}}) {
    this.state[{{paramModelName}}.id] = {{paramModelName}};
  },

  receive{{pluralModelName}}: function({{paramModelNamePlural}}) {
    var store = this;

    {{paramModelNamePlural}}.forEach(function({{paramModelName}}) {
      store.set{{modelName}}({{paramModelName}});
    });

    this.hasChanged();
  },

  add{{modelName}}: function({{modelVariableName}}) {
    this.set{{modelName}}({{modelVariableName}});
  },

  update{{modelName}}: function({{modelVariableName}}) {
    this.set{{modelName}}({{modelVariableName}});
  },

  remove{{modelName}}: function({{paramModelName}}Id) {
    if({{paramModelName}}Id in this.state) {
      delete this.state[{{paramModelName}}Id];
      this.hasChanged();
    }
  }
});

module.exports = {{storeName}};
